In [15]:
import pandas as pd

In [16]:
patients = pd.read_csv(
    "Parkinson_disease-Group_gait_data.csv", sep = ";")
patients

,Participant_code,PD_Onset,H&Y,UPDRS-III,MMSE,Age,Gender,Body_Mass,Body_height,BMI,...,DS_time_stride_1,DS_time_stride_2,DS_stride_1,DS_stride_2,SS_time_stride_1,SS_time_stride_2,SS_stride_1,SS_stride_2,Cadence_stride_1,Cadence_stride_2
0,#1,12,2,23,29,64,M,"80,3","1,69","28,12",...,"0,2","0,22","21,67","23,46","0,73","0,71","78,33","76,54","1,08","1,07"
1,#2,4,3,24,28,84,F,67,"1,6","26,17",...,"0,21","0,22","22,84","23,92","0,71","0,7","77,16","76,08","1,08","1,08"
2,#3,11,1,10,30,60,M,"82,15","1,71","28,09",...,"0,25","0,26","27,42","27,97","0,66","0,66","72,58","72,03","1,11","1,09"
3,#4,2,3,46,28,77,M,58,"1,65","21,3",...,"0,44","0,44","38,67","38,43","0,69","0,71","61,33","61,57","0,89","0,87"
4,#5,7,2,13,29,68,M,88,"1,68","31,18",...,"0,38","0,36","32,33","31,14","0,79","0,79","67,67","68,86","0,86","0,88"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,49","0,48","45,75","44,39","0,58","0,6","54,25","55,61","0,94","0,93"
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,39","0,44","36,45","41,12","0,68","0,63","63,55","58,88","0,93","0,93"
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,67","0,62","53,85","50,61","0,57","0,61","46,15","49,39","0,81","0,82"
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,7","0,7",56,"56,5","0,55","0,54",44,"43,5","0,8","0,81"
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,67","0,69","51,95","56,15","0,62","0,54","48,05","43,85","0,78","0,82"

In [17]:
patients.head(1)

,Participant_code,PD_Onset,H&Y,UPDRS-III,MMSE,Age,Gender,Body_Mass,Body_height,BMI,...,DS_time_stride_1,DS_time_stride_2,DS_stride_1,DS_stride_2,SS_time_stride_1,SS_time_stride_2,SS_stride_1,SS_stride_2,Cadence_stride_1,Cadence_stride_2
0,#1,12,2,23,29,64,M,"80,3","1,69","28,12",...,"0,2","0,22","21,67","23,46","0,73","0,71","78,33","76,54","1,08","1,07"

In [18]:
patients.columns

Index(['Participant_code', 'PD_Onset', 'H&Y', 'UPDRS-III', 'MMSE', 'Age',
       'Gender', 'Body_Mass', 'Body_height', 'BMI', 'Participant_code.1',
       'Trial', 'Lenght_step_1', 'Lenght_step_2', 'Lenght_step_3',
       'Width_step_1', 'Width_step_2', 'Width_step_3', 'Duration_step_1',
       'Duration_step_2', 'Duration_step_3', 'Velocity_step_1',
       'Velocity_step_2', 'Velocity_step_3', 'DS_time_step_1',
       'DS_time_step_2', 'DS_time_step_3', 'DS_step_1', 'DS_step_2',
       'DS_step_3', 'SS_time_step_1', 'SS_time_step_2', 'SS_time_step_3',
       'SS_step_1', 'SS_step_2', 'SS_step_3', 'Cadence_step_1',
       'Cadence_step_2', 'Cadence_step_3', 'Lenght_stride_1',
       'Lenght_stride_2', 'Width _ stride_1', 'Width _ stride_2',
       'Duration _stride_1', 'Duration _stride_2', 'Velocity_stride_1',
       'Velocity_stride_2', 'DS_time_stride_1', 'DS_time_stride_2',
       'DS_stride_1', 'DS_stride_2', 'SS_time_stride_1', 'SS_time_stride_2',
       'SS_stride_1', 'SS_stride_2', 'Cadence_stride_1', 'Cadence_stride_2'],
      dtype='object')

In [19]:
patients = pd.concat([patients.loc[:,'Lenght_stride_1':'Lenght_stride_2'], patients['UPDRS-III'], patients['H&Y']], axis = 1)

In [20]:
patients

    Lenght_stride_1 Lenght_stride_2 UPDRS-III  H&Y
0            118,33          119,27        23    2
1            117,93          116,44        24    3
2             93,79           96,98        10    1
3             90,11           92,43        46    3
4            104,39          100,22        13    2
..              ...             ...       ...  ...
184           89,99           87,84       NaN  NaN
185           84,86           86,43       NaN  NaN
186          118,11          118,13       NaN  NaN
187          115,79          116,63       NaN  NaN
188          120,65          119,41       NaN  NaN

[189 rows x 4 columns]

In [21]:
control = pd.read_csv("Control-Group_gait_data.csv", sep = ";")
control.head(1)

,Participant_code,Age,Gender,Body_Mass,Body_height,BMI,MMSE,Participant_code.1,Trial,Lenght_step_1,...,DS_time_stride_1,DS_time_stride_2,DS_stride_1,DS_stride_2,SS_time_stride_1,SS_time_stride_2,SS_stride_1,SS_stride_2,Cadence_stride_1,Cadence_stride_2
0,#1,73.0,F,51,"1,52","22,07",29.0,#1,1,"64,58",...,"0,35","0,33","46,38","43,46","0,41","0,43","53,62","56,54","1,32","1,31"

In [22]:
control.columns

Index(['Participant_code', 'Age', 'Gender', 'Body_Mass', 'Body_height', 'BMI',
       'MMSE', 'Participant_code.1', 'Trial', 'Lenght_step_1', 'Lenght_step_2',
       'Lenght_step_3', 'Width_step_1', 'Width_step_2', 'Width_step_3',
       'Duration_step_1', 'Duration_step_2', 'Duration_step_3',
       'Velocity_step_1', 'Velocity_step_2', 'Velocity_step_3',
       'DS_time_step_1', 'DS_time_step_2', 'DS_time_step_3', 'DS_step_1',
       'DS_step_2', 'DS_step_3', 'SS_time_step_1', 'SS_time_step_2',
       'SS_time_step_3', 'SS_step_1', 'SS_step_2', 'SS_step_3',
       'Cadence_step_1', 'Cadence_step_2', 'Cadence_step_3', 'Lenght_stride_1',
       'Lenght_stride_2', 'Width _ stride_1', 'Width _ stride_2',
       'Duration _stride_1', 'Duration _stride_2', 'Velocity_stride_1',
       'Velocity_stride_2', 'DS_time_stride_1', 'DS_time_stride_2',
       'DS_stride_1', 'DS_stride_2', 'SS_time_stride_1', 'SS_time_stride_2',
       'SS_stride_1', 'SS_stride_2', 'Cadence_stride_1', 'Cadence_stride_2'],
      dtype='object')

In [23]:
control = control.loc[:,'Lenght_stride_1':'Lenght_stride_2']

In [24]:
control

    Lenght_stride_1 Lenght_stride_2
0            129,17          129,83
1            161,12          163,06
2            166,68          166,94
3            127,61          131,07
4            136,32          135,36
..              ...             ...
184          120,65          120,42
185          113,13          114,17
186          141,02          136,94
187          138,16          139,53
188          139,49          138,38

[189 rows x 2 columns]

In [25]:
patients.to_csv("patients_selected_variables.csv", index = False)
control.to_csv("control_group_selected_variables.csv", index =False)